@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@600&display=swap');

:root {
	--cor-primaria:#000;
	--cor-secundaria:#F6F6F6;
	--cor-terciaria:#22D4FD;
	--cor-hover:#272727;

	--fonte-primaria:'Krona One', sans-serif;
	--fonte-secundaria:'Montserrat', sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100vh;
	box-sizing: border-box;
	background-color: var(--cor-primaria);
	color: var(--cor-secundaria);
}

.cabecalho {
	padding: 2% 0 0 15%;
}

.cabecalho__menu {
	display: flex;
	gap: 80px;
	text-decoration: none;
}

.cabecalho__menu__link {
	color: var(--cor-terciaria) ;
	font-family: var(--fonte-secundaria);
	font-size: 1.5rem;
	font-weight: 600;
}

.titulo-destaque {
	color: var(--cor-terciaria);
}

.apresentacao {
	padding: 5% 15%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 82px;
}

.apresentacao__conteudo {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.apresentacao__conteudo__titulo {
	font-size: 2.25rem;
	font-family:var(--fonte-secundaria);
}

.apresentacao__conteudo__paragrafo {
	font-size: 1.5rem;
	font-family: var(--fonte-secundaria);
}

.apresentacao__links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 32px;
}

.apresentacao__links__subtitulo {
	font-family: var(--fonte-primaria);
	font-weight: 400;
	font-size: 1.5rem;
}

.apresentacao__links__navegacao {
	color: var(--cor-secundaria);
	display: flex;
	justify-content: center;
	gap: 16px;
	border: 2px solid var(--cor-terciaria);
	width: 50%;
	text-align: center;
	border-radius: 8px;
	font-size: 1.5rem;
	padding: 21.5px 0;
	text-decoration: none;
	font-family:var(--fonte-secundaria);
	font-weight: 600;
}

.apresentacao__links__link:hover {
	background-color: var(--cor-hover);
}

.apresentacao__imagem {
	width: 50%;
}

.rodape {
	background-color: var(--cor-terciaria);
	color: var(--cor-primaria);
	padding: 24px;
	text-align: center;
	font-family: var(--fonte-secundaria);
	font-size: 1.5rem;
	font-weight: 400;/* 
	position: absolute;
	bottom: 0;
	width: 100%; */
}

@media (max-width: 1200px) {
	.cabecalho {
		padding: 10%;
	}
	.cabecalho__menu {
		justify-content: center;
		display: flex;
    gap: 40px;
    flex-direction: column;
		text-align: center;
	}
	.apresentacao {
		flex-direction: column-reverse;
		padding: 5%;
	}

	.apresentacao__conteudo{
		width: auto;
	}
}